<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar"> 
      <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4qVUSS3YYdRocAvhSWcVxLHz7qJXTKLFNrA&usqp=CAU class="logo">
      <div class="logo-title">
        <h3>mbnb</h3>
      </div>
      <div class="search-bar">
        <input class="search-txt" type="text" name="" placeholder="Start typing to explore........  ">
        <a class="search-btn" href="#"></a>
      </div>
      <ul>
      <li><a href="#">Places To Stay</a></li>
        <li><a href="#">Experiences</a></li>
        <li><a href="#">Become A Host</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>MakersBnB</h1>
      <p>Made Possible By Hosts. </p>
      <div> 
        <button type="button"><span></span>Sign-in</button>
        <form action="/signup/new"><button type="submit"><span></span>Sign-up</button></form>
      </div>
    </div>
    <div class="banner">
    </div>
  </body>
  <div class="gallary">
<h1>Live Anywhere</h1>
  </div>
</html>

