<!DOCTYPE html>
<html lang="en">
  <body>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


      <img src=https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1920,h_1280/http://suncrestpoolsinc.com/wp-content/uploads/gilbert-arizona-luxury-pool-and-gourmet-outdoor-kitchen-6.jpg class="back2">
      <div class="loginbox">
        <img src= https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx3z-tiDwUUPdhUlTmlfnvRY6vZe3atBUB6Q&usqp=CAU class="avatar">
      </div>
      <div class="navbar"> 
        <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4qVUSS3YYdRocAvhSWcVxLHz7qJXTKLFNrA&usqp=CAU class="logo">
        <div class="logo-title">
        <h3>mbnb</h3>
      </div>
      <div class="search-bar">
      <input class="search-txt" type="text" name="" placeholder="">
      <a class="search-btn" href="#"></a>
    </div>
    <ul>
    <li><a href="#">Places To Stay</a></li>
      <li><a href="#">Experiences</a></li>
      <li><a href="#">Become A Host</a></li>
    </ul>
  </div>
</div>
   <h2>Sign up here!</h2>
<form  id="signup-form" method="post" action="/signup/new">
    <label for="usernmame" class="fill">Username:</label><br>
    <input type="text" id="username" name="username" class="fill"><br>
    <label for="password" class="fill" class=>Password:</label><br>
    <input type="password" id="password" name="password"class="fill">
    <input type="submit" value="submit" class="form2">
</form>
</body>
</html>