<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: black;">
   
   <h1 class="h12">You have successfully signed up</h1>
    <img src="https://i.pinimg.com/originals/b0/d5/ed/b0d5ed39851c18b41c664684c1fae9a6.jpg" alt="" class="img3">
    <h2 class="h22">Sign-in to find your new home</h2>
    <form action="/signin">
      <button type="submit" class="btn2"><span></span>Sign-in</button></form>
  </body>
</html>