<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <h1>Welcome Back!</h1>
</head>
<body>
  <form name="signin" method="post" action="/signin">
    <label for="usernmame" class="label">Username:</label><br>
    <input type="text" id="username" class="label"name="username"><br>
    <label for="password" class="label">Password:</label><br>
    <input type="password"  id="password"class="label" name="password">
    <input type="submit" class="sub2" value="submit">
  </form>
</body>
</html>